<div class="jumbotron">
  <h1 class="display-4"> <%= t('welcome') %> </h1>
  <p class="lead"><%= t('msg_welcome') %></p>
  <hr class="my-4">
  <p><%= t('msg_menu') %></p>
  </p><%= render "menu"%>
</div>
